* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-coleccion: #30343F;
  --color-white: white;
}

/* NAVBAR */

.navbar {
  background-color: #30343F;
  padding: 15px 20px;
}

#logo-funko {
  max-width: 290px;
}

@media screen and (max-width: 380px) {
  #logo-funko {
      max-width: 220px;
    }
}

@media screen and (max-width: 420px) {
  .navbar {
      padding: 15px 0px;
    }
}


.collapse {
  justify-content: end;
}

#icon-shop {
  font-size: 2rem;
  margin-left: .4rem;
  color: var(--color-white);
}

#icon-shop:hover {
  color: black;
}

#links {
  align-items: center;
}

.nav-link {
  color: var(--color-white);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--color-white);
}

/* MAIN */

.main {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

#banner {
  grid-column: 1/6;
}
#star-wars {
  grid-column: 2/3;
}
#pokemon {
  grid-column: 2/3;
}
#harry {
  grid-column: 2/3;
}
#news {
  grid-column: 2/3;
}
#footer {
  grid-column: 1/6;
}

/* BANNER */

#banner {
  background-image: url("/multimedia/funkos-banner.webp");
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  animation: moverFondo 10s linear infinite ;
}

/* @keyframes moverFondo{
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100vh;
  }
} */

#text-banner h1 {
  color: var(--color-white);
}

#text-banner p {
  color: rgb(211, 208, 208);
  font-size: 1.2rem;
}

#button-banner {
  margin-top: 18px;
  font-size: 1.6rem;
  border-radius: 40px;
  color: black;
  background-color: white;
  border: none;
  padding: .3rem 4.5rem ;
  box-shadow: 0px 0px 20px rgb(146, 144, 144);
  transition: padding .7s ease ;
}

#button-banner:hover {
  background-color: var(--color-coleccion);
  color: var(--color-white);
  padding: .5rem 5rem;
  font-size: 1.9rem;
}

#flex-banner {
  margin-left: 8rem;
}

/* STAR WARS */

.home-flex{
  display: flex;
  align-items: center;
}

.h1-home {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.p-home{
  font-size: 1.6rem;
  color: rgb(79, 91, 102);
}

.text-home {
  flex-grow: 1;
}

.linear-red {
  border: 2.6px solid red;
  margin-bottom: 1.5rem;
}

.button-coleccion {
  font-size: 1.8rem;
  color: white;
  padding: .5rem 3rem;
  border-radius: 30px;
  background-color: var(--color-coleccion);
  transition: all .5s ease;
}

.button-coleccion:hover {
  border-radius: 0;
  background-color: var(--color-white);
  color: var(--color-coleccion);
  padding: .5rem 4.4rem;
  font-weight: 900;
}



/* NEWS CAROUSEL */

#news {
  margin-bottom: 5rem ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#news h1 {
  align-self: self-start;
}


.carousel {
  width: 400px;
  height: 500px;
}

.serie {
  font-size: .8rem;
}

.nombre {
  font-size: 1.2rem;
}

.precio {
  font-size: 1rem;
}

.cuotas {
  font-size: .7rem;
  color: rgb(13, 168, 230) ;
}


/* FOOTER */

#footer {
  height: 300px;
  background-color: var(--color-coleccion);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-menu h2 {
  font-size: 1.5rem;
  color: rgb(207, 205, 205);
  transition: all .5s ease ;
}

#footer-menu h2:hover {
  transform: translateX(1rem);
}

#footer p {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(207, 205, 205);
  align-self: flex-end;
}

