* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-coleccion: #30343F;
  --color-white: white;
  --color-nuevos-lider: #FF3333;
}

/* NAVBAR */

.navbar {
  background-color: #30343F;
  padding: 15px 20px;
}

#logo-funko {
  max-width: 290px;
}

@media screen and (max-width: 380px) {
  #logo-funko {
      max-width: 220px;
    }
}

@media screen and (max-width: 420px) {
  .navbar {
      padding: 15px 0px;
    }
}


.collapse {
  justify-content: end;
}

#icon-shop {
  font-size: 2rem;
  margin-left: .4rem;
  color: var(--color-white);
}

#icon-shop:hover {
  color: black;
}

#links {
  align-items: center;
}

.nav-link {
  color: var(--color-white);
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: var(--color-white);
}

/* MAIN */

.main {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

#banner {
  grid-column: 1/6;
}
#star-wars {
  grid-column: 2/3;
}
#pokemon {
  grid-column: 2/3;
}
#harry {
  grid-column: 2/3;
}
#news {
  grid-column: 2/3;
}
#footer {
  grid-column: 1/6;
}

/* BANNER */

#banner {
  background-image: url("/multimedia/funkos-banner.webp");
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  animation: moverFondo 10s linear infinite ;
}

/* @keyframes moverFondo{
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100vh;
  }
} */

#text-banner h1 {
  color: var(--color-white);
}

#text-banner p {
  color: rgb(211, 208, 208);
  font-size: 1.2rem;
}

#button-banner {
  margin-top: 18px;
  font-size: 1.6rem;
  border-radius: 40px;
  color: black;
  background-color: white;
  border: none;
  padding: .3rem 4.5rem ;
  box-shadow: 0px 0px 20px rgb(146, 144, 144);
  transition: padding .7s ease ;
}

#button-banner:hover {
  background-color: var(--color-coleccion);
  color: var(--color-white);
  padding: .5rem 5rem;
  font-size: 1.9rem;
}

#flex-banner {
  margin-left: 8rem;
}

/* STAR WARS */

.home-flex{
  display: flex;
  align-items: center;
}

.h1-home {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.p-home{
  font-size: 1.6rem;
  color: rgb(79, 91, 102);
}

.text-home {
  flex-grow: 1;
}

.linear-red {
  border: 2.6px solid red;
  margin-bottom: 1.5rem;
}

.button-coleccion {
  font-size: 1.8rem;
  color: white;
  padding: .5rem 3rem;
  border-radius: 30px;
  background-color: var(--color-coleccion);
  transition: all .5s ease;
}

.button-coleccion:hover {
  border-radius: 0;
  background-color: var(--color-white);
  color: var(--color-coleccion);
  padding: .5rem 4.4rem;
  font-weight: 900;
}



/* NEWS CAROUSEL */

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.slider {
  display: flex;
  transition: transform 0.8s ease;
  position: relative;
}

.card {
  flex: 0 0 calc(94.5% / 3);
  /* margin-right: 10px; */
  background-color: rgb(252, 252, 252);
  border: none;
  padding: 20px;
  text-align: center;
  width: 0px;
  height: 500px;
  cursor: pointer;
  margin: 1%;
  transition: box-shadow .2s ease;
}
.card:hover{
  box-shadow: 0 0 .5rem rgb(202, 200, 200);
}

#info-slider{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.serie-slider{
  font-size: 1rem;
    margin-bottom: 0;
}

.name-slider{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0;
}

.precio-slider{
  font-size: 1rem;
  margin-bottom: 0;
}

.cuotas-slider{
  font-size: .7rem;
  color: #1D84B5;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

.img-slider{
  margin: auto;
}

#nuevo-slider{
  background-color: var(--color-nuevos-lider);
  display: inline;
  padding: .2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .7rem;
  color: white;
  position: absolute;
  top: 8%;
  right: 6%;
}

#prevBtn , #nextBtn{
  /* border: .5px solid rgb(201, 197, 197); */
  padding: 0 .3rem 0 .3rem;
  font-size: 1.5rem;
  color: rgb(114, 112, 112) ;
  border-radius: 5px;
  box-shadow: 0 0 .1rem 0 rgb(179, 176, 176);
  transition: box-shadow .2s ease;
}
#prevBtn{
  position: absolute;
  top: 50%;
  left: 1%;
}

#nextBtn {
  position: absolute;
  top: 50%;
  right: 1%;
}
#prevBtn:hover,
#nextBtn:hover{
  box-shadow: 0 0 .4rem 0 rgb(153, 149, 149);
  cursor: pointer;
}

/* FOOTER */

#footer {
  height: 300px;
  background-color: var(--color-coleccion);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-menu h2 {
  font-size: 1.5rem;
  color: rgb(207, 205, 205);
  transition: all .5s ease ;
}

#footer-menu h2:hover {
  transform: translateX(1rem);
}

#footer p {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(207, 205, 205);
  align-self: flex-end;
}

